

  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.services_section .row {
    align-items: center;
    margin: 0 auto;
  }
  
  .services_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
  }
  .services_category .services_card_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .services_card_box .card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
  }
  
  .services_card_box .card:hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
  }
  
  .services_card_box .card:hover::before {
    background: rgb(85 108 214 / 10%);
  }
  
  .services_card_box .card:hover .card-title,
  .services_card_box .card:hover .card-text {
    color: #fff;
  }
  
  .services_card_box .card:before {
    content: "";
    position: abservte;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }
  
  .services_card_box .card:hover .card-text button {
    background: #fff !important;
    color: #309df0;
  }
  
  .card .card-title {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .card .card-text p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .card .card-text .read_more_btn {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
  }
  
  
  .hover_color_bubble {
    position: abservte;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }
  
  .services_card_box .card:hover .hover_color_bubble {
    top: 0rem;
  }
  
  .services_card_box .card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .services_card_box .card .card-img-top{
 
    object-fit: contain;
  }
  
  /*start media query*/
  @media screen and (min-width: 320px) {
    .serv_card_3 {
      position: relative;
      top: 0;
    }
  
    .service_category {
      width: 100%;
      margin: 0 auto;
    }
  
    .services_category .services_card_box {
      flex: auto;
    }
  }
  @media only screen and (min-width: 768px) {
    .our_servtion_category .services_card_box {
      flex: 1;
    }
  }
  @media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
      position: relative;
      top: -3rem;
    }
    .our_service_category {
      width: 50%;
      margin: 0 auto;
    }
  }
  