  
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  justify-content: center;
}

img {
  width: 100%;
}

.services_section {
  width: 100%;
  height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    float: ;
    flex-direction: column;
    padding: 0 1.5rem;
    margin: 0 auto;
    line-height: 2em;
    gap: 6rem;
  }
  


.news_post {
  width: 80%;
  height: 100%;
  max-width: 75rem;
  min-height: 30rem;
  max-height: 30rem; 
  padding: 5rem;
  position: relative;
  
  background-color: #fff;
  display: flex;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  align-items: center;
  border-radius: .8rem;

  
}

.article_img {
  min-width: 35rem;
  max-width: 35rem;
  
  transform: translateX(-8rem);
  position: relative;
  
}

.article_img img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
}

.article_img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.article_date span {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin: .5rem 0;
  color: rgba(0, 0, 0, 0.5);
}


.article_title {
  font-size: 1.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}

.article_info {
 
 position: absolute;
 max-width: 50%;
 top: 0;
 bottom: 0;
 right: .1rem;
 /*padding: 35rem 20rem 25rem 30rem; 
 display: block;
 
 */
 transform: translateX(-2rem);
 box-sizing: border-box;
}

.article_text {
  margin-bottom: 3rem;
  font-size: 1.4rem;
}

.article_text {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);

}


.article_link {

  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: .8rem;
}

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }



  @media screen and (max-width: 1068px){
    .news_post {
      max-width: 80rem;
    }

    .article_img {
      min-width: 30rem;
      max-width: 30rem;
    }
  }

  
  @media screen and (max-width: 868px){
    .news_post {
      max-width: 70rem;
    }


  }



  @media screen and (max-width: 768px){
    .news_post {
      padding: 2.5rem;
      flex-direction: column;
    }

    .article_img {
      min-width: 100%;
      max-width: 100%;
      transform: translate(0, -8rem);
    }
  }